.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  color: #6b7280;
  transition: color 0.2s ease;
}

.close-button:hover {
  color: #3b82f6;
}

.checkbox-container {
  display: flex;
}

.checkbox {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.5rem;
}
